<mat-card>
  <mat-card-content>
    <form #invoiceForm="ngForm">
      <div fxLayout="row wrap" class="align-items-center m-b-15">
        <div fxFlex.gt-md="25" fxFlex.gt-lg="25" fxFlex="100">
          <h3 class="m-0">
            # <span name="id" ngDefaultControl> {{ idPedido }}</span>
          </h3>
        </div>
        <div fxFlex.gt-md="75" class="text-right">
          <a routerLink="/home/portalacademico">
            <button mat-stroked-button color="warn" class="m-r-10">Regresar</button>
          </a>
          <button mat-raised-button color="primary" (click)="saveDetail()" [disabled]="addForm.invalid">
            <mat-icon class="mat-18">save</mat-icon>
            Grabar
          </button>
        </div>
      </div>
      <hr />


    </form>

    <div [formGroup]="addForm">
      <div fxLayout="row wrap" fxFlexAlign="center" class="row">

        <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
          <div class="table-responsive">
            <!-- <table class="table table-hover border-all no-wrap v-middle"> -->
            <!-- <table class="table ticket-list"> -->
            <table class="table table-hover border-all no-wrap v-middle">
              <thead>
                <tr>
                  <th class="font-10">#</th>
                  <th class="font-10" width="40%">Producto</th>
                  <th class="font-10">Cantidad</th>
                  <th class="font-10">P.U.<br>(US$)</th>
                  <th class="font-10">Importe<br>(US$)</th>
                  <th class="font-10">Participacion<br>(%)</th>
                  <th class="font-10">Rentabilidad<br>(%)</th>
                  <th class="font-10">Comision<br>(%)</th>
                  <th class="font-10"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of addForm.get('rows')?.controls; let index = index">
                  <td class="p-0 font-10">{{ index + 1 }}</td>

                  <td class="p-0">

                    <input type="text" placeholder="Ingrese Nombre Plaga" aria-label="Assignee" matInput="matInput"
                      class="form-control font-12" [formControl]="row.get('itemName')" [matAutocomplete]="autostart"
                      name="txt-{{index}}" />
                    <mat-autocomplete #autostart="matAutocomplete" [displayWith]="displayFn"
                      (optionSelected)="onSelectionChange($event, row)">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{ option.NomArticulo }}
                      </mat-option>
                    </mat-autocomplete>

                  </td>

                  <td class="p-0">
                    <input type="text" class="form-control font-10 text-center" min="1" [formControl]="row.get('units')"
                      name="txt-units-{{index}}" (keypress)="($event.charCode >= 48 && $event.charCode < 58)"
                      (input)="itemsChanged()" style="line-height: 18px;" />
                  </td>
                  <td class="p-0">
                    <input matInput class="form-control font-10 text-right" [formControl]="row.get('unitPrice')"
                      name="txt-unitPrice-{{index}}" (input)="itemsChanged()" style="line-height: 18px;" />
                    <mat-error *ngIf="row.get('unitPrice')?.errors">
                      <strong matTooltip="Numero no válido">*</strong>
                    </mat-error>
                  </td>

                  <td class="p-0">
                    <input disabled class="form-control font-10 text-right" [formControl]="row.get('itemTotal')"
                      name="txt-itemTotal-{{index}}"
                      [value]="(row.get('unitPrice').value * row.get('units').value).toFixed(2)"
                      style="line-height: 18px;" />
                  </td>

                  <td class="p-0">
                    <input disabled type="text" class="form-control font-10 text-center"
                      name="txt-participacion-{{index}}" [formControl]="row.get('participacion')"
                      style="line-height: 18px;" />
                  </td>
                  <td class="p-0">
                    <input disabled type="number" class="form-control font-10 text-center"
                      name="txt-rentabilidad-{{index}}" [formControl]="row.get('rentabilidad')"
                      style="line-height: 18px;" />
                  </td>

                  <td class="p-0">
                    <input disabled type="number" class="form-control font-10 text-center" name="txt-comision-{{index}}"
                      [formControl]="row.get('comision')" style="line-height: 18px;" />
                  </td>

                  <td class="p-0">
                    <div *ngIf="index > 0">
                      <a (click)="onRemoveRow(index)" class="m-r-10 cursor-pointer">
                        <i class="fa fa-trash text-danger"></i>
                      </a>

                      <!-- <button color="warn" mat-raised-button (click)="onRemoveRow(index)">
                      <mat-icon class="mat-18">delete_outline</mat-icon>
                    </button> -->
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div fxFlex.gt-sm="26" fxFlex="100" class="p-10">
          <app-grilla-tasa [setData]="this._tasa"></app-grilla-tasa>
        </div>
        <div fxFlex.gt-sm="74" fxFlex="100" class="p-10">
          <div class="text-right m-t-30">
            <button color="accent" mat-raised-button (click)="onAddRow()" [disabled]="addForm.invalid"
              *ngIf="addForm.get('rows')">
              <mat-icon>add</mat-icon>
              Agregar
            </button>


          </div>

        </div>
      </div>

      <div class="text-right m-t-30">
        <h5 class="m-b-5 font-medium">Total (US$): {{ subTotal | number: '1.2-2'}}</h5>
        <h5 class="m-t-0 font-medium">Total Comision (%): {{ totalComision | number: '1.3-3'}}</h5>

        <h3 class="m-b-0 b-t p-t-20">Total Comision (US$): {{ totalComisionDolares | number: '1.2-2' }}</h3>

      </div>
    </div>
  </mat-card-content>
</mat-card>
