<mat-card>
  <mat-card-content>
    <span *ngIf="invoiceDetail">
      <div fxLayout="row wrap" class="align-items-center m-b-15">
        <div fxFlex.gt-md="25" fxFlex.gt-lg="25" fxFlex="100">
          <h3 class="m-0">#{{ invoiceDetail.IdPedido }}</h3>
        </div>
        <div fxFlex.gt-md="75" class="text-right">
          <a routerLink="/home/portalacademico">
            <button mat-stroked-button color="primary" class="m-r-10">Regresar</button>
          </a>
        </div>
      </div>

      <hr />
      <div fxLayout="row wrap" class="align-items-center m-t-15 m-b-15">
        <div fxFlex.gt-md="75" class="text-right">
          <span class="font-medium"> Fecha Operacion: </span>
          <h6 class="m-t-5 m-b-0">{{ invoiceDetail.FechaOperacion | date: 'dd/MM/yyyy' }}</h6>
        </div>
      </div>
      <hr />

      <div class="table-responsive">
        <table mat-table [dataSource]="invoiceDetail.SimuladorPedidoItems" class="table ticket-list">
          <ng-container matColumnDef="itemName">
            <th class="font-12" mat-header-cell *matHeaderCellDef>Codigo</th>
            <td class="font-normal" mat-cell *matCellDef="let element">{{ element.Codigo }}</td>
          </ng-container>
          <ng-container matColumnDef="unitPrice">
            <th class="font-12" mat-header-cell *matHeaderCellDef>Producto</th>
            <td class="font-normal" mat-cell *matCellDef="let element">{{ element.Producto }}</td>
          </ng-container>
          <ng-container matColumnDef="unit">
            <th class="font-12" mat-header-cell *matHeaderCellDef>Familia</th>
            <td class="font-normal text-center" mat-cell *matCellDef="let element">{{ element.Familia }}</td>
          </ng-container>
          <ng-container matColumnDef="total">
            <th class="font-12" mat-header-cell *matHeaderCellDef>Cantidad</th>
            <td class="font-normal text-center" mat-cell *matCellDef="let element">{{ element.Cantidad }}</td>
          </ng-container>
          <ng-container matColumnDef="PrecioVvd">
            <th class="font-12" mat-header-cell *matHeaderCellDef>Precio</th>
            <td class="font-normal" mat-cell *matCellDef="let element">{{ element.PrecioVvd }}</td>
          </ng-container>
          <ng-container matColumnDef="Importe">
            <th class="font-12" mat-header-cell *matHeaderCellDef>Importe</th>
            <td class="font-normal" mat-cell *matCellDef="let element">{{ element.Importe }}</td>
          </ng-container>
          <ng-container matColumnDef="Mb">
            <th class="font-12" mat-header-cell *matHeaderCellDef>Mb</th>
            <td class="font-normal" mat-cell *matCellDef="let element">{{ element.Mb }}</td>
          </ng-container>
          <ng-container matColumnDef="PesoAsignadoPercent">
            <th class="font-12" mat-header-cell *matHeaderCellDef>Peso</th>
            <td class="font-normal" mat-cell *matCellDef="let element">{{ element.PesoAsignadoPercent }}</td>
          </ng-container>
          <ng-container matColumnDef="ComisionPercent">
            <th class="font-12" mat-header-cell *matHeaderCellDef>ComisionPercent</th>
            <td class="font-normal" mat-cell *matCellDef="let element">{{ element.ComisionPercent * 100 | number }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>

      <div class="text-right m-t-30">
        <h5 class="m-b-5 font-medium">Sub total: {{ invoiceDetail.ImporteTotal }}</h5>
        <h5 class="m-b-5 font-medium">Comision %: {{ invoiceDetail.ComisionPercent}}</h5>
        <h3 class="m-b-0 b-t p-t-20">Comision US$: {{ invoiceDetail.ComisionMonto * 100 | number }}</h3>
      </div>
    </span>
  </mat-card-content>
</mat-card>
